main {
    margin-top: var(--header-height);
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    padding-top: 43.4%;
    background: url(img/Banner.png) no-repeat top/contain;
}